<ul class="nav">
  <li><a href="/" title="The homepage">Home</a></li>
  <li><a href="/blog/" title="My blog is here">Blog</a></li>
  <li><a href="/links/" title="Some links, not all of them, but some of them">Links</a></li>
</ul>
<div>&nbsp;</div>
<ul class="nav">
  <li><a href="https://github.com/stopthatastronaut" title="My Github">Github</a></li>
  <li><a href="https://d.evops.co/" title="My DevOps consultancy - now talking to clients!">The DevOps Company</a></li>
  <li><a href="https://mwyolyfrau.wales/" title="My side project translating copyright-free books into Welsh">Mwy o
      Lyfrau</a></li>
</ul>
<div>&nbsp;</div>