--- 
--- 

@import "{{ site.theme }}";

header h1 {
  text-align: center;
}

header p {
  text-align: left;
}

ul.nav {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
  font-size: larger;
}

.cwclue {
  font-style: italic;
  font-weight: bold;
  color: lightslategrey;
}

.cwexplain {
  font-style: italic;
  border: 1px solid black;
  padding: 10px;
  margin: 15px;
  background-color: lightgrey;
}

.cwanswer {
  font-weight: bold;
  text-transform: capitalize;
}

.toot {
  font-size: xx-small;
  border: 1px solid lightgray;
  margin: 4px; padding: 12px; border-radius: 14px;
}