<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-UK" }}">

<head>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- forked away from the original template by JB on 10 Apr 2024 -->

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  {% seo %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Jason Brown's website. This is he." />
      {% endif %}

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <p>{% include nav.html %}</p>

      <p>
        <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
        <a href="/feed.xml">RSS</a>
      </p>
      <p>
        <small>
          Hosted on <a href="https://gitlab.com/stopthatastronaut/jasbro_io/">GitLab Pages</a><br />
          Generated with Jekyll<br />
          Theme forked from jekyll-theme-minimal
        </small>
      </p>
      <p>
          <a href="https://fediring.net/previous?host=jasbro.io">←</a>
          <a href="https://fediring.net/">Fediring</a>
          <a href="https://fediring.net/next?host=jasbro.io">→</a>
      </p>
      <p>Find me on <a href="https://aus.social/@drunkenmadman" target="_blank">Mastodon</a></p>

    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      
    </footer>
  </div>
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}" defer></script>
</body>

</html>